#opencv_python==4.2.0.32
#Keras==2.3.1
#pandas==0.25.3
#numpy==1.17.4
#imutils==0.5.3
#scikit_learn==0.22.1
# ====App's Lib====
ttkbootstrap==1.10.1
mutagen==1.46.0
pygame==2.3.0
glob2==0.7
# ====Model's Lib====
torch==2.0.0
torchvision==0.15.1
scikit-image==0.20.0
scikit-learn==1.2.2
matplotlib==3.7.1
pandas==2.0.0
tqdm==4.65.0
timm==0.4.5
hsemotion
hsemotion-onnx
